.input_search {
    -fx-border-color: #e5e9ec;
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-width: 1px;
    -fx-border-radius: 20;
}

.input_search:focused {
    -fx-border-color: #1D2A57;
}

.list_view_search {
    -fx-border-color: #e5e9ec;
    -fx-background-color: none;
    -fx-border-radius: 4px 4px 4px 4px;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 6px 6px 6px 6px;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 15, 0, 0, 0);*/
    /*-fx-border-radius: 4px 4px 4px 4px;*/
    /*-fx-border-width: 1px;*/
}

.btn_search {
    -fx-background-radius: 50%;
    -fx-background-color: #FEC400;
}

.btn_search:hover {
    -fx-background-radius: 50%;
    -fx-opacity: .85;
}

.search_pane {
    -fx-background-color: linear-gradient(to left, #000066 25%, #0f173b 100%);
}

. list-view .scroll-bar:horizontal .increment-arrow,
. list-view .scroll-bar:horizontal .decrement-arrow,
. list-view .scroll-bar:horizontal .increment-button,
. list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}

. list-view .scroll-bar:vertical {
    -fx-background-radius: 20;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

. list-view .decrement-button, .list-view .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

. list-view .increment-button, .list-view .increment-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

. list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #FFF8E4;
    -fx-background-insets: 5, 5, 5;
    -fx-background-radius: 5;
}

. list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-opacity: 0;
}