.input_search {
    -fx-border-color: #e5e9ec;
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-width: 1px;
    -fx-border-radius: 20;
}

.input_search:focused {
    -fx-border-color: #1D2A57;
}

.list_view_search {
    -fx-border-color: #e5e9ec;
    -fx-background-color: none;
    -fx-border-radius: 4px 4px 4px 4px;
}

.card {
    -fx-background-color: white;
    -fx-background-radius: 6px 6px 6px 6px;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 15, 0, 0, 0);*/
    /*-fx-border-radius: 4px 4px 4px 4px;*/
    /*-fx-border-width: 1px;*/
}

.btn_search {
    -fx-background-radius: 50%;
    -fx-background-color: #FEC400;
}

.btn_search:hover {
    -fx-background-radius: 50%;
    -fx-opacity: .85;
}