*{
    font-family: Helvetica, sans-serif;
}
h1 {
    color:#1D2A57;
    font-size: 22px;
    font-weight: 400;
}
h3 {
    color: #1D2A57;
    font-size: 14px;
}

h2 {
    color: #1D2A57;
    font-size: 16px;
}
ul {
    color: #1D2A57;
    font-size: 13px
}